# Ignore Play! working directory #
bin/
/db
.eclipse
/logs/
/modules
/project/project
/project/target
/common/target
/bukkit/target
/bungee/target
/bukkit-example/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
/.idea/
/idea/
/.idea
.idea/